<!-- Clients -->
    <section class="clients">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center" style="margin-bottom: 50px;">
                  <h2 class="section-heading">Conferences • Media • Partners</h2>
                  <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
              </div>
          </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/nctm.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/ncsm.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/MHE-Logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/huffpolive.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/columbus-ceo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/swcsd.gif" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
