<!-- Teacher Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Are you ...</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large">Endlessly searching for better math problems?</p>
                    <p class="large">Helplessly watching students disengage and give up?</p>
                    <p class="large">Frustrated that students can't remember 'the basics'?</p>
                    <p class="large">Feeling pressured by high stakes testing?</p>
                    <a href="#services" class="page-scroll btn btn-xl">Download Free Resources</a>
                </div>
            </div>
        </div>
    </section>
