<!-- Services Section -->
    <section id="testimonials" class="bg-light-gray">>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonials</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted">Dr. Shah’s full day workshop was awesome! Two days later, we are still talking Math!!!  It was a wonderful PD.  Thank you for your time, insight AND activities.</p>
                    <h4 class="service-heading">Karen Mahan - Lorain Digital Academy</h4>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted">Your presentation was great and you are great speaker. I enjoyed so much in your presentation on Mental Math for the Common Core at OCTM.</p>
                    <h4 class="service-heading">Ho Yun Cho, Ph.D. - Capitol Univ. Dept. of Education</h4>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted">We want to thank you for presenting to our teachers. They were very engaged and excited about your presentation and enjoyed the activities. We need everyone to hear your message!</p>
                    <h4 class="service-heading">Barb Bodart - Licking County Gifted Coordinator</h4>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted">First, I have to tell you how much my gifted teachers LOVED your presentation at the OAGC Teacher Academy! We met today and they kept going on and on about how wonderful you were, how great the presentation was, and how many ideas/concepts they were able to take away from your session!</p>
                    <h4 class="service-heading">Stephanie DeBevoise - Newark City Schools Gifted Coordinator</h4>
                </div>
            </div>
        </div>
    </section>
